# S & P 500 Prediction

##### The most common predictors of stock performance are value and momentum indicators.
##### The value indicators are common financial ratio's such as P/E or Dividend yield.
##### For momentum I take the trailing 3, 6, and 12 month returns of the stock.
##### The target is the 1 month performance following the momentum periods.
##### I will try a combination of value and momentum and both approaches seperate.
##### I apply various models to compare performance

In [4]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Collecting xgboost
  Downloading xgboost-1.7.6-py3-none-win_amd64.whl (70.9 MB)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.6
Note: you may need to restart the kernel to use updated packages.

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron

In [7]:
fin = pd.read_csv('C:\\Users\\Ronit Kumar Purohit\\Downloads\\financials.csv')

In [8]:
fin.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,1.387211e+11,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,1.078342e+10,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,1.021210e+11,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,1.813863e+11,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,9.876586e+10,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [9]:
fin.isna().sum()

Symbol            0
Name              0
Sector            0
Price             0
Price/Earnings    2
Dividend Yield    0
Earnings/Share    0
52 Week Low       0
52 Week High      0
Market Cap        0
EBITDA            0
Price/Sales       0
Price/Book        8
SEC Filings       0
dtype: int64

In [10]:
fin = fin.fillna(0)

In [11]:
fin = fin.assign(HighLow=lambda x: (x['52 Week Low'] - x['52 Week High']) / x['Price'])

In [12]:
fin = fin.drop(['Name', 'SEC Filings', 'Sector', 'Price', '52 Week Low', '52 Week High'], axis=1)
fin.drop(fin[fin["Symbol"]=='OGN'].index, inplace=True)
fin.drop(fin[fin["Symbol"]=='AYI'].index, inplace=True)

fin.head()

,Symbol,Price/Earnings,Dividend Yield,Earnings/Share,Market Cap,EBITDA,Price/Sales,Price/Book,HighLow
0,MMM,24.31,2.332862,7.92,1.387211e+11,9.048000e+09,4.390271,11.34,0.378124
1,AOS,27.76,1.147959,1.70,1.078342e+10,6.010000e+08,3.575483,6.35,0.323124
2,ABT,22.51,1.908982,0.26,1.021210e+11,5.744000e+09,3.740480,3.19,0.396659
3,ABBV,19.41,2.499560,3.29,1.813863e+11,1.031000e+10,6.291571,26.14,0.606656
4,ACN,25.47,1.714470,5.44,9.876586e+10,5.643228e+09,2.604117,10.62,0.317454

In [16]:
file_path = r'C:\Users\Ronit Kumar Purohit\Downloads\archive (14)\Project_SP\sp500_stocks.csv'
price = pd.read_csv(file_path)
price.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2009-12-31,MMM,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-04,MMM,59.318886,83.019997,83.449997,82.669998,83.089996,3043700.0
2,2010-01-05,MMM,58.947342,82.500000,83.230003,81.699997,82.800003,2847000.0
3,2010-01-06,MMM,59.783295,83.669998,84.599998,83.510002,83.879997,5268500.0
4,2010-01-07,MMM,59.826176,83.730003,83.760002,82.120003,83.320000,4470100.0

### We will use closing prices and drop the rest

In [19]:
price['Date'] = price.Date.str[0:7] + ' ' + price['Symbol']
price.drop_duplicates(subset ='Date', keep ='first', inplace =True)

In [20]:
price['Year'] = price.Date.str[:4]
price['Month'] = price.Date.str[5:7]
price = price.drop(['Date'], axis=1)

In [21]:
price = price[(price['Year'] == '2021') | (price['Year'] == '2020')]

In [22]:
price.drop(price[price["Symbol"]=='OGN'].index, inplace=True)

In [23]:
company = price['Symbol'].unique()

### Calculate the various momentum periods and make a new dataframe.

In [24]:
monthMove = {}
month3Move = {}
month6Move = {}
month12Move = {}


for i in company:
    
    #
    m4 = price[(price['Symbol'] == i) & (price['Year'] == '2021') & (price['Month'] == '08')]
    m1 = price[(price['Symbol'] == i) & (price['Year'] == '2021') & (price['Month'] == '11')]

    month3Move[i] = []
    month3Move[i].append((m1.iloc[0]['Close']) / (m4.iloc[0]['Close']))
    
    #
    m7 = price[(price['Symbol'] == i) & (price['Year'] == '2021') & (price['Month'] == '05')]
    m1 = price[(price['Symbol'] == i) & (price['Year'] == '2021') & (price['Month'] == '11')]

    month6Move[i] = []
    month6Move[i].append((m1.iloc[0]['Close']) / (m7.iloc[0]['Close']))   
    
    #
    m13 = price[(price['Symbol'] == i) & (price['Year'] == '2020') & (price['Month'] == '11')]
    m1 = price[(price['Symbol'] == i) & (price['Year'] == '2021') & (price['Month'] == '11')]

    month12Move[i] = []
    month12Move[i].append((m1.iloc[0]['Close']) / (m13.iloc[0]['Close'])) 
        
    #
    curr = price[(price['Symbol'] == i) & (price['Year'] == '2021') & (price['Month'] == '12')]
    m1 = price[(price['Symbol'] == i) & (price['Year'] == '2021') & (price['Month'] == '11')]

    monthMove[i] = []
    monthMove[i].append((m1.iloc[0]['Close']) / (curr.iloc[0]['Close']))

In [25]:
#
dict3 = {}

for i in fin['Symbol']:
    if i not in month3Move:
        pass
    else:
        dict3[i] = []
        dict3[i].append(month3Move[i])

#
dict6 = {}

for i in fin['Symbol']:
    if i not in month6Move:
        pass
    else:
        dict6[i] = []
        dict6[i].append(month6Move[i])

#
dict12 = {}

for i in fin['Symbol']:
    if i not in month12Move:
        pass
    else:
        dict12[i] = []
        dict12[i].append(month12Move[i])

#       
targetdict = {}

for i in fin['Symbol']:
    if i not in monthMove:
        pass
    else:
        targetdict[i] = []
        targetdict[i].append(monthMove[i])

In [26]:
for i in fin["Symbol"]:
    if i not in targetdict:
        fin.drop(fin[fin["Symbol"]==i].index, inplace=True)

In [27]:
#
m3 = pd.DataFrame.from_dict(month3Move, orient='index', columns=['3M Momentum']).reset_index()
m3 = m3.rename(columns={'index': 'Symbol'})

#
m6 = pd.DataFrame.from_dict(month6Move, orient='index', columns=['6M Momentum']).reset_index()
m6 = m6.rename(columns={'index': 'Symbol'})

#
m12 = pd.DataFrame.from_dict(month12Move, orient='index', columns=['12M Momentum']).reset_index()
m12 = m12.rename(columns={'index': 'Symbol'})

#
target = pd.DataFrame.from_dict(targetdict, orient='index', columns=['Target']).reset_index()
target = target.rename(columns={'index': 'Symbol'})

In [28]:
momentum = pd.merge(pd.merge(target,m3, on='Symbol'), m6, on='Symbol')
momentum = pd.merge(momentum, m12, on='Symbol')
momentum['Target'] = momentum.Target.str[0]

momentum.sort_values(by=['Symbol']).head()

   Symbol    Target  3M Momentum  6M Momentum  12M Momentum
11      A  1.059713     1.026066     1.179218      1.492398
26    AAL  1.214373     0.985543     0.900683      1.766756
7     AAP  1.031526     1.058295     1.115179      1.487052
41   AAPL  0.904048     1.023639     1.123887      1.369495
3    ABBV  0.990510     0.994456     1.001134      1.300963

## Merging the DataFrames

In [29]:
df = pd.merge(fin, momentum, on='Symbol')
df = df.sort_values(by=['Symbol'])
df.head()

,Symbol,Price/Earnings,Dividend Yield,Earnings/Share,Market Cap,EBITDA,Price/Sales,Price/Book,HighLow,Target,3M Momentum,6M Momentum,12M Momentum
11,A,27.45,0.875698,2.10,2.198461e+10,1.094000e+09,6.493563,4.56,0.396157,1.059713,1.026066,1.179218,1.492398
26,AAL,9.92,0.778210,3.91,2.459485e+10,5.761000e+09,0.580226,6.03,0.408848,1.214373,0.985543,0.900683,1.766756
7,AAP,19.54,0.218321,6.19,8.123612e+09,8.539410e+08,1.130106,2.51,0.827693,1.031526,1.058295,1.115179,1.487052
41,AAPL,16.86,1.579541,9.20,8.095080e+11,7.938600e+10,3.458609,5.66,0.315694,0.904048,1.023639,1.123887,1.369495
3,ABBV,19.41,2.499560,3.29,1.813863e+11,1.031000e+10,6.291571,26.14,0.606656,0.990510,0.994456,1.001134,1.300963

#### The target will be to predict a stock that will return more than 2% in the next month.
#### This will equal 25%+ annualized.
#### This is significantly higher than the index to keep a margin of safety.

In [30]:
df['Target'] = [0 if x <1.02 else 1 for x in df['Target']]
df.head()

,Symbol,Price/Earnings,Dividend Yield,Earnings/Share,Market Cap,EBITDA,Price/Sales,Price/Book,HighLow,Target,3M Momentum,6M Momentum,12M Momentum
11,A,27.45,0.875698,2.10,2.198461e+10,1.094000e+09,6.493563,4.56,0.396157,1,1.026066,1.179218,1.492398
26,AAL,9.92,0.778210,3.91,2.459485e+10,5.761000e+09,0.580226,6.03,0.408848,1,0.985543,0.900683,1.766756
7,AAP,19.54,0.218321,6.19,8.123612e+09,8.539410e+08,1.130106,2.51,0.827693,1,1.058295,1.115179,1.487052
41,AAPL,16.86,1.579541,9.20,8.095080e+11,7.938600e+10,3.458609,5.66,0.315694,0,1.023639,1.123887,1.369495
3,ABBV,19.41,2.499560,3.29,1.813863e+11,1.031000e+10,6.291571,26.14,0.606656,0,0.994456,1.001134,1.300963

# Split

In [31]:
X = df.drop(['Target','Symbol'], axis=1)
y = df['Target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [33]:
models = [SVC(kernel='rbf'),
          RandomForestClassifier(criterion='entropy', max_depth=8, n_estimators=100),
          AdaBoostClassifier(n_estimators=100, random_state=101),
          KNeighborsClassifier(n_neighbors=1),
          GaussianNB(),
          XGBClassifier(),
          LogisticRegression(random_state=0),
          Perceptron(tol=1e-3, random_state=0)
          ]

In [34]:
accuracy = []

for model in models:
    cross_val = cross_val_score(model, X_train, y_train, scoring='accuracy',
                                cv=StratifiedKFold(10)).mean()
    accuracy.append(cross_val)

models_name = ['SVC', 'RandomForestClassifier', 'ADA',
               'KNN', 'GNB', 'XGB', 'LogReg', 'Perceptron']

acc = pd.DataFrame({'Model': models_name, 'Accuracy': accuracy})
acc

                    Model  Accuracy
0                     SVC  0.652016
1  RandomForestClassifier  0.629940
2                     ADA  0.579536
3                     KNN  0.548690
4                     GNB  0.623790
5                     XGB  0.605040
6                  LogReg  0.627016
7              Perceptron  0.570766